@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">

    <h1 class="display-4">URL SHORTENER</h1>

     <div>
            <input type="text" name="urlShortener" id="urlShortener" placeholder="your url here..." />
            <button id="submitBtn">Shorten URL</button>
     </div>
    
     <p class="outcome inactive" id="outcome"></p>

</div>
